---
import Favicon from '../components/Favicon.astro';
import { maintainers } from '../../maintainers';
import { databases } from '../../databases';
import { contactDetails } from '../../community-info';
import { compareFn } from '../utils/helper';

const sortedDatabases = Object.entries(databases).sort((a, b) => compareFn(a[0], b[0]));
const latestDatabase = sortedDatabases[0][1];
const pastDatabases = sortedDatabases.slice(1);
const sortedMaintainers = Object.entries(maintainers).sort((a, b) => compareFn(a[0], b[0]));
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="ITエンジニアインターン情報が集まる魔法のスプレッドシート" />
    <meta property="og:url" content="https://magic-spreadsheets.pages.dev/" />
    <meta property="og:title" content="魔法のスプレッドシート" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@keigomichi" />
    <meta property="twitter:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta
      property="twitter:description"
      content="ITエンジニアインターン情報が集まる魔法のスプレッドシート"
    />
    <meta property="twitter:title" content="魔法のスプレッドシート" />
    <meta property="og:site_name" content="魔法のスプレッドシート" />
    <meta property="og:locale" content="ja_JP" />
    <title>魔法のスプレッドシート</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="content-title">
          <div class="top-icon">
            <img src="/favicon.svg" />
          </div>
          <h1>魔法のスプレッドシート</h1>
          <p class="gray">ITエンジニアインターン情報が集まる魔法のスプレッドシート</p>
        </div>
        <a
          href="https://twitter.com/intent/tweet?url=https://magic-spreadsheets.pages.dev&text=%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%20-%20IT%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E6%83%85%E5%A0%B1%E3%81%8C%E9%9B%86%E3%81%BE%E3%82%8B%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%0a&hashtags=魔法のスプレッドシート,インターン,25卒"
          target="_blank"
        >
          <div class="content-button top-content-button">
            <div class="row-container">
              <img src="/twitter.svg" />
              <div>Twitter で共有</div>
            </div>
          </div>
        </a>
        <a href={latestDatabase.href}>
          <div class="content-card top-content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/favicon.svg" />
                <div>{latestDatabase.text}</div>
              </div>
              <div class="img-wrapper"><img src="/notion.svg" /></div>
            </div>
          </div>
        </a>
        <h2 id="目次">目次</h2>
        <ul class="contents">
          <li><a href="#目次">目次</a></li>
          <li>
            <a href="#魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</a>
          </li>
          <li><a href="#コミュニティ">コミュニティ</a></li>
          <li><a href="#バックナンバー">バックナンバー</a></li>
          <li><a href="#管理者">管理者</a></li>
        </ul>
        <h2 id="魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</h2>
        <p>
          ソフトウェアエンジニア志望の学生のためのインターンシップの情報が閲覧できる便利なデータベースです。
          <br />
          応募締め切りや開催方法などの情報が一覧で確認できます。
        </p>
        <h2 id="コミュニティ">コミュニティ</h2>
        <p>
          魔法のスプレッドシートのさらなる発展に貢献しませんか？
          <br />
          私たちは新しいコントリビューションを歓迎します！魔法のスプレッドシートに貢献する方法はたくさんあります。
        </p>
        <h3>データベースを更新する</h3>
        <p>
          魔法のスプレッドシートでは、インターンシップの情報をどなたでも編集していただけます。
          <br />
          <a href={latestDatabase.href} target="_blank">データベース</a> に新しいインターンシップの情報等を追加したり、誤った情報を修正したりしてください！
        </p>
        <a href={latestDatabase.href} target="_blank">
          <div class="content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/favicon.svg" />
                <div>{latestDatabase.text}</div>
              </div>
              <div class="img-wrapper"><img src="/notion.svg" /></div>
            </div>
          </div>
        </a>
        <h3>Twitter で共有する</h3>
        <p>
          Twitter で、
          <a
            href="https://twitter.com/search?q=%23%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88"
            target="_blank"
          >
            #魔法のスプレッドシート
          </a>
          を友だちに共有してください！
        </p>
        <a
          href="https://twitter.com/intent/tweet?url=https://magic-spreadsheets.pages.dev&text=%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%20-%20IT%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E6%83%85%E5%A0%B1%E3%81%8C%E9%9B%86%E3%81%BE%E3%82%8B%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%0a&hashtags=魔法のスプレッドシート,インターン,25卒"
          target="_blank"
        >
          <div class="content-button">
            <div class="row-container">
              <img src="/twitter.svg" />
              <div>Twitter で共有</div>
            </div>
          </div>
        </a>
        <h3>このWebページのプロジェクトに参加する</h3>
        <p class="budges-container">
          <img
            alt="GitHub"
            src="https://img.shields.io/github/license/keigomichi/magic-spreadsheets"
          />
          <img
            alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/keigomichi/magic-spreadsheets?style=social"
          />
        </p>
        <a href="https://github.com/keigomichi/magic-spreadsheets" target="_blank">
          <div class="content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/github.svg" class="on-background" />
                <div>keigomichi/magic-spreadsheets</div>
              </div>
              <div class="img-wrapper"><img src="/github.svg" class="on-background" /></div>
            </div>
          </div>
        </a>
        <p>
          <a href="https://github.com/keigomichi/magic-spreadsheets" target="_blank">
            GitHubリポジトリ
          </a>
          にアクセスして、次のような方法で貢献できます。
        </p>
        <ul>
          <li>
            <a
              href="https://github.com/keigomichi/magic-spreadsheets/issues/new/choose"
              target="_blank"
            >
              新しい Issue
            </a>
            を作成して、不具合報告を提出したり、新しいアイデアを提案したりする。
          </li>
          <li>
            オープンされた
            <a href="https://github.com/keigomichi/magic-spreadsheets/pulls" target="_blank">
              Pull requests
            </a>
            をレビューする。
          </li>
        </ul>

        <p>
          ご質問やご意見があれば
          <a href={contactDetails.href} target="_blank">{contactDetails.text}</a>
          までご連絡ください。
        </p>
        <a
          href={contactDetails.href}
          target="_blank"
        >
          <div class="content-button">
            <div class="row-container">
              <img src="/twitter.svg" />
              <div>{contactDetails.text}</div>
            </div>
          </div>
        </a>
        <h2 id="バックナンバー">バックナンバー</h2>
        <ul>
          {
            pastDatabases.map(([, database]) => (
              <li>
                <a href={database.href} target="_blank">
                  {database.text}
                </a>
              </li>
            ))
          }
        </ul>
        <h2 id="管理者">管理者</h2>
        <ul>
          {
            sortedMaintainers.map(([year, maintainers]) => (
              <>
                <li>
                  {year}
                  <ul>
                    {maintainers.map((maintainer) => (
                      <li>
                        {maintainer.href !== undefined ? (
                          <a href={maintainer.href} target="_blank">
                            {maintainer.text}
                          </a>
                        ) : (
                          <>{maintainer.text}</>
                        )}
                      </li>
                    ))}
                  </ul>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </main>
    <style>
      :root {
        --text-color: #e1e3de;
        --sub-text-color: rgba(192, 201, 192, 0.75);
        --background-color: rgb(25, 25, 25);
        --content-link-background-color: #333;
        --image-background-color: #444;
        --line-color: rgba(138, 147, 139, 0.2);
        --anchor-color: #74db9f;
        --anchor-line-color: rgba(116, 219, 159, 0.2);
        --tag-color: #b5ccba;
        --tag-line-color: rgba(181, 204, 186, 0.2);
        --on-background-brightness: 2;
      }

      @media (prefers-color-scheme: light) {
        :root {
          --text-color: #191c1a;
          --sub-text-color: rgba(64, 73, 66, 0.75);
          --background-color: #fafafa;
          --content-link-background-color: #eee;
          --image-background-color: #ddd;
          --line-color: rgba(113, 121, 114, 0.2);
          --anchor-color: #006d42;
          --anchor-line-color: rgba(0, 109, 66, 0.2);
          --tag-color: #4e6355;
          --tag-line-color: rgba(78, 99, 85, 0.2);
          --on-background-brightness: 0;
        }

        img {
          filter: saturate(0.7);
        }
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
          'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans GB', メイリオ, Meiryo,
          'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
        width: clamp(min(600px, calc(100% - 40px)), 90%, 800px);
        margin: 40px auto 80px auto;
        font-size: 16px;
        line-height: 2;
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 3px;
        width: 78px;
        height: 78px;
        transition: opacity 100ms ease-out 0s;
      }

      img.on-background {
        filter: brightness(var(--on-background-brightness));
      }

      a {
        color: var(--anchor-color);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--anchor-line-color);
      }

      a[href^='#'] {
        color: var(--tag-color);
        text-decoration-color: var(--tag-line-color);
      }

      a:hover {
        opacity: 0.8;
      }

      h1 {
        font-size: clamp(32px, 5vw, 40px);
        font-weight: 700;
        margin: 2rem 0 1rem 0;
        line-height: 1.2;
      }

      h2 {
        font-size: clamp(24px, 4vw, 32px);
        line-height: 1.3;
        font-weight: 600;
        padding: 10px 0;
        margin: 4rem 0 1rem;
        border-bottom: 1px solid var(--line-color);
      }

      h3 {
        margin: 3rem 0 0 0;
      }

      p {
        padding: 8px 2px;
      }

      iframe {
        max-width: 100%;
        margin-top: 20px;
      }

      ul {
        padding-left: 24px;
      }

      li {
        margin: 10px 0;
        line-height: 1.6;
      }

      .gray {
        color: var(--sub-text-color);
      }

      .content-title {
        padding-top: clamp(0px, 4vw, 80px);
        padding-bottom: 8px;
      }

      .content-title p {
        padding-top: 0;
      }

      .top-icon {
        display: flex;
        align-items: end;
      }

      .top-icon img {
        width: 78px;
        height: 78px;
      }

      .content-card {
        font-weight: 600;
        align-items: center;
        padding: 8px 8px 8px 20px;
        margin: 8px 0 16px;
        background-color: var(--content-link-background-color);
        border-radius: 4px;
        color: var(--text-color);
        cursor: pointer;
      }

      .top-content-card {
        margin: 1rem 0 6rem 0;
      }

      .content-button {
        font-weight: 400;
        align-items: center;
        padding: 4px 16px;
        margin: 8px 0;
        background-color: var(--content-link-background-color);
        border-radius: 100px;
        color: var(--text-color);
        display: inline-block;
        cursor: pointer;
      }

      .top-content-button {
        margin: 16px 0 32px;
      }

      .row-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
      }

      .row-container-space-between {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
      }

      .row-container-space-between .row-container {
        margin-left: 8px;
      }

      .row-container img {
        width: 23.04px;
        height: 23.04px;
      }

      .img-wrapper {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--image-background-color);
      }

      .img-wrapper img {
        width: 60px;
        height: 60px;
      }

      .contents {
        list-style-type: none;
        padding: 0;
      }

      .budges-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        height: 38px;
      }

      .budges-container img {
        height: 100%;
        width: auto;
      }
    </style>
  </body>
</html>
