---
import Favicon from '../components/Favicon.astro';
import { maintainers } from '../../maintainers';
import { databases } from '../../databases';
import { contactDetails } from '../../community-info';
import { compareFn } from '../utils/helper';
import CopyButton from '../components/CopyButton.astro';
import '../styles/main.css';

const sortedDatabases = Object.entries(databases).sort((a, b) => compareFn(a[0], b[0]));
const latestDatabase = sortedDatabases[0][1];
const pastDatabases = sortedDatabases.slice(1);
const sortedMaintainers = Object.entries(maintainers).sort((a, b) => compareFn(a[0], b[0]));

const currentYear = new Date().getFullYear();
const gradYears = [1, 2, 3].map((offset) => `${(currentYear + offset) % 100}卒`).join(',');
const tweetText = encodeURIComponent(
  '魔法のスプレッドシート - ITエンジニアインターン情報が集まる魔法のスプレッドシート\n'
);
const url = encodeURIComponent('https://magic-spreadsheets.pages.dev');
const hashtags = encodeURIComponent(`魔法のスプレッドシート,インターン,${gradYears}`);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="ITエンジニアインターン情報が集まる魔法のスプレッドシート" />
    <meta property="og:url" content="https://magic-spreadsheets.pages.dev/" />
    <meta property="og:title" content="魔法のスプレッドシート" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@mikan_54951" />
    <meta property="twitter:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta
      property="twitter:description"
      content="ITエンジニアインターン情報が集まる魔法のスプレッドシート"
    />
    <meta property="twitter:title" content="魔法のスプレッドシート" />
    <meta property="og:site_name" content="魔法のスプレッドシート" />
    <meta property="og:locale" content="ja_JP" />
    <title>魔法のスプレッドシート</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="content-title">
          <div class="top-icon">
            <img src="/favicon.svg" />
          </div>
          <h1>魔法のスプレッドシート</h1>
          <p class="gray">ITエンジニアインターン情報が集まる魔法のスプレッドシート</p>
        </div>
        <div class="row-container-loose">
          <a
            href={`https://twitter.com/intent/tweet?url=${url}&text=${tweetText}&hashtags=${hashtags}`}
            target="_blank"
            class="content-button"
          >
            <div class="row-container">
              <img src="/x.svg" />
              <div>X で共有</div>
            </div>
          </a>
          <CopyButton clipboardText="https://magic-spreadsheets.pages.dev" />
        </div>
        <a href={latestDatabase.href} class="content-card-link">
          <div class="content-card top-content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/favicon.svg" />
                <div>{latestDatabase.text}</div>
              </div>
              <div class="img-wrapper"><img src="/notion.svg" /></div>
            </div>
          </div>
        </a>
        <h2 id="目次">目次</h2>
        <ul class="contents">
          <li><a href="#目次">目次</a></li>
          <li>
            <a href="#魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</a>
          </li>
          <li><a href="#コミュニティ">コミュニティ</a></li>
          <li><a href="#バックナンバー">バックナンバー</a></li>
          <li><a href="#管理者">管理者</a></li>
        </ul>
        <h2 id="魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</h2>
        <p>
          ソフトウェアエンジニア志望の学生のためのインターンシップの情報が閲覧できる便利なデータベースです。
          <br />
          応募締め切りや開催方法などの情報が一覧で確認できます。
        </p>
        <h2 id="コミュニティ">コミュニティ</h2>
        <p>
          魔法のスプレッドシートのさらなる発展に貢献しませんか？
          <br />
          私たちは新しいコントリビューションを歓迎します！魔法のスプレッドシートに貢献する方法はたくさんあります。
        </p>
        <h3>データベースを更新する</h3>
        <p>
          魔法のスプレッドシートでは、インターンシップの情報をどなたでも編集していただけます。
          <br />
          <a href={latestDatabase.href} target="_blank">データベース</a> に新しいインターンシップの情報等を追加したり、誤った情報を修正したりしてください！
        </p>
        <a href={latestDatabase.href} target="_blank" class="content-card-link">
          <div class="content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/favicon.svg" />
                <div>{latestDatabase.text}</div>
              </div>
              <div class="img-wrapper"><img src="/notion.svg" /></div>
            </div>
          </div>
        </a>
        <h3>X で共有する</h3>
        <p>
          X で、
          <a
            href="https://twitter.com/search?q=%23%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88"
            target="_blank"
          >
            #魔法のスプレッドシート
          </a>
          を友だちに共有してください！
        </p>
        <a
          href="https://twitter.com/intent/tweet?url=https://magic-spreadsheets.pages.dev&text=%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%20-%20IT%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E6%83%85%E5%A0%B1%E3%81%8C%E9%9B%86%E3%81%BE%E3%82%8B%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%0a&hashtags=魔法のスプレッドシート,インターン,25卒"
          target="_blank"
          class="content-button"
        >
          <div class="row-container">
            <img src="/x.svg" />
            <div>X で共有</div>
          </div>
        </a>
        <h3>このWebページのプロジェクトに参加する</h3>
        <p class="budges-container">
          <img
            alt="GitHub"
            src="https://img.shields.io/github/license/magic-spreadsheets/magic-spreadsheets"
          />
          <img
            alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/magic-spreadsheets/magic-spreadsheets?style=social"
          />
        </p>
        <a
          href="https://github.com/magic-spreadsheets/magic-spreadsheets"
          target="_blank"
          class="content-card-link"
        >
          <div class="content-card">
            <div class="row-container-space-between">
              <div class="row-container">
                <img src="/github.svg" class="on-background" />
                <div>magic-spreadsheets/magic-spreadsheets</div>
              </div>
              <div class="img-wrapper"><img src="/github.svg" class="on-background" /></div>
            </div>
          </div>
        </a>
        <p>
          <a href="https://github.com/magic-spreadsheets/magic-spreadsheets" target="_blank">
            GitHubリポジトリ
          </a>
          にアクセスして、次のような方法で貢献できます。
        </p>
        <ul>
          <li>
            <a
              href="https://github.com/magic-spreadsheets/magic-spreadsheets/issues/new/choose"
              target="_blank"
            >
              新しい Issue
            </a>
            を作成して、不具合報告を提出したり、新しいアイデアを提案したりする。
          </li>
          <li>
            オープンされた
            <a href="https://github.com/magic-spreadsheets/magic-spreadsheets/pulls" target="_blank">
              Pull requests
            </a>
            をレビューする。
          </li>
        </ul>

        <p>
          ご質問やご意見があれば
          <a href={contactDetails.href} target="_blank">{contactDetails.text}</a>
          までご連絡ください。
        </p>
        <a href={contactDetails.href} target="_blank" class="content-button">
          <div class="row-container">
            <img src="/x.svg" />
            <div>{contactDetails.text}</div>
          </div>
        </a>
        <h2 id="バックナンバー">バックナンバー</h2>
        <ul>
          {
            pastDatabases.map(([, database]) => (
              <li>
                <a href={database.href} target="_blank">
                  {database.text}
                </a>
              </li>
            ))
          }
        </ul>
        <h2 id="管理者">管理者</h2>
        <ul>
          {
            sortedMaintainers.map(([year, maintainers]) => (
              <>
                <li>
                  {year}
                  <ul>
                    {maintainers.map((maintainer) => (
                      <li>
                        {maintainer.href !== undefined ? (
                          <a href={maintainer.href} target="_blank">
                            {maintainer.text}
                          </a>
                        ) : (
                          <>{maintainer.text}</>
                        )}
                      </li>
                    ))}
                  </ul>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </main>
    <footer>
      <small>&copy; {new Date().getFullYear()} {contactDetails.text}</small>
    </footer>
  </body>
</html>
