---
import Favicon from '../components/Favicon.astro';
import { maintainers } from '../../maintainers';
import { databases } from '../../databases';
import { compareFn } from '../utils/helper';

const sortedDatabases = Object.entries(databases).sort((a, b) => compareFn(a[0], b[0]));
const latestDatabase = sortedDatabases[0][1];
const pastDatabases = sortedDatabases.slice(1);
const sortedMaintainers = Object.entries(maintainers).sort((a, b) => compareFn(a[0], b[0]));
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="ITエンジニアインターン情報が集まる魔法のスプレッドシート" />
    <meta property="og:url" content="https://magic-spreadsheets.pages.dev/" />
    <meta property="og:title" content="魔法のスプレッドシート" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@keigomichi" />
    <meta property="twitter:image" content="https://magic-spreadsheets.pages.dev/thumbnail.png" />
    <meta
      property="twitter:description"
      content="ITエンジニアインターン情報が集まる魔法のスプレッドシート"
    />
    <meta property="twitter:title" content="魔法のスプレッドシート" />
    <meta property="og:site_name" content="魔法のスプレッドシート" />
    <meta property="og:locale" content="ja_JP" />
    <title>魔法のスプレッドシート</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="content-title">
          <div class="top-icon">
            <img src="/favicon.svg" />
          </div>
          <h1>魔法のスプレッドシート</h1>
          <p class="gray">ITエンジニアインターン情報が集まる魔法のスプレッドシート</p>
        </div>
        <a href={latestDatabase.href}>
          <div class="content-link">
            <img src="/favicon.svg" />
            <div>{latestDatabase.text}</div>
          </div>
        </a>
        <a
          href="https://twitter.com/intent/tweet?url=https://magic-spreadsheets.pages.dev&text=%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%20-%20IT%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E6%83%85%E5%A0%B1%E3%81%8C%E9%9B%86%E3%81%BE%E3%82%8B%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%0a&hashtags=魔法のスプレッドシート,インターン,25卒"
          target="_blank"
        >
          <div class="content-link">
            <img src="/twitter.svg" />
            <div>Twitter で共有する</div>
          </div>
        </a>
        <h2 id="目次">目次</h2>
        <ul class="contents">
          <li><a href="#目次">目次</a></li>
          <li>
            <a href="#魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</a>
          </li>
          <li><a href="#データベースを編集">データベースを編集</a></li>
          <li><a href="#バックナンバー">バックナンバー</a></li>
          <li><a href="#管理者">管理者</a></li>
        </ul>
        <h2 id="魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</h2>
        <p>
          ソフトウェアエンジニア志望の学生のためのインターンシップの情報が閲覧できる便利なデータベースです。
        </p>
        <p>応募締め切りや開催方法などの情報が一覧で確認できます。</p>
        <p>毎年、有志によって管理されています。</p>
        <h2 id="データベースを編集">データベースを編集</h2>
        <p>インターンシップ等の情報を誰でも追加、修正できます。</p>
        <p>以下のリンクへアクセスして編集してください。その際、Notion へのログインが必要です。</p>
        <a
          href="https://www.notion.so/049ca5329bbc4493bc9f4f5b3727d027?v=3b000340195242b0bd4b0741063ec259&pvs=4"
          target="_blank"
        >
          編集画面へアクセス
        </a>
        <h2 id="バックナンバー">バックナンバー</h2>
        <ul>
          {
            pastDatabases.map(([, database]) => (
              <li>
                <a href={database.href} target="_blank">
                  {database.text}
                </a>
              </li>
            ))
          }
        </ul>
        <h2 id="管理者">管理者</h2>
        <ul>
          {
            sortedMaintainers.map(([year, maintainers]) => (
              <>
                <li>{year}
                  <ul>
                    {maintainers.map((maintainer) => (
                      <li>
                        {maintainer.href !== undefined ? (
                          <a href={maintainer.href} target="_blank">
                            {maintainer.text}
                          </a>
                        ) : (
                          <>{maintainer.text}</>
                        )}
                      </li>
                    ))}
                  </ul>
                </li>
              </>
            ))
          }
        </ul>
        <h2 id="コミュニティ">コミュニティ</h2>
        <p class="budges-container">
          <img
            alt="GitHub"
            src="https://img.shields.io/github/license/keigomichi/magic-spreadsheets"
          />
          <img
            alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/keigomichi/magic-spreadsheets?style=social"
          />
        </p>
        <p>
          魔法のスプレッドシートのプロジェクトには、誰でも気軽に参加できます。
          <br />
          <a href="https://github.com/keigomichi/magic-spreadsheets" target="_blank"
            >GitHubリポジトリ</a
          > へアクセスして、お気軽に新しいコントリビューションを開始してください！
        </p>
      </div>
    </main>
    <style>
      :root {
        --text-color: rgba(255, 255, 255, 0.81);
        --background-color: rgb(25, 25, 25);
        --content-link-background-color: #333;
        --line-color: rgba(255, 255, 255, 0.2);
        --anchor-color: rgba(255, 255, 255, 0.5);
      }

      @media (prefers-color-scheme: light) {
        :root {
          --text-color: #333;
          --background-color: #fafafa;
          --content-link-background-color: #eee;
          --line-color: rgba(0, 0, 0, 0.2);
          --anchor-color: rgba(0, 0, 0, 0.6);
        }

        img {
          filter: saturate(0.7);
        }
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
          'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans GB', メイリオ, Meiryo,
          'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
        width: clamp(min(600px, calc(100% - 40px)), 90%, 800px);
        margin: 40px auto 80px auto;
        font-size: 16px;
        line-height: 2;
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 3px;
        width: 78px;
        height: 78px;
        transition: opacity 100ms ease-out 0s;
      }

      a {
        color: var(--anchor-color);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--line-color);
      }

      a:hover {
        opacity: 0.8;
      }

      h1 {
        font-size: clamp(32px, 5vw, 40px);
        font-weight: 700;
        margin: 2rem 0 1rem 0;
        line-height: 1.2;
      }

      h2 {
        font-size: clamp(24px, 4vw, 32px);
        line-height: 1.3;
        font-weight: 600;
        padding: 10px 0;
        margin: 2.4rem 0 1rem;
        border-bottom: 1px solid var(--line-color);
      }

      p {
        padding: 8px 2px;
      }

      iframe {
        max-width: 100%;
        margin-top: 20px;
      }

      ul {
        padding-left: 24px;
      }

      li {
        margin: 10px 0;
        line-height: 1.6;
      }

      .gray {
        color: var(--anchor-color);
      }

      .content-title {
        padding-top: clamp(0px, 4vw, 80px);
        padding-bottom: 20px;
      }

      .content-title p {
        padding-top: 0;
      }

      .top-icon {
        display: flex;
        align-items: end;
      }

      .top-icon img {
        width: 78px;
        height: 78px;
      }

      .content-link {
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        padding: 16px 20px;
        margin: 16px 0;
        background-color: var(--content-link-background-color);
        border-radius: 4px;
        color: var(--text-color);
      }

      .content-link img {
        width: 23.04px;
        height: 23.04px;
      }

      .contents {
        list-style-type: none;
        padding: 0;
      }

      .budges-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        height: 38px;
      }

      .budges-container img {
        height: 100%;
        width: auto;
      }
    </style>
  </body>
</html>
